<%- include("../../views/partials/user/header") %>

<div class="d-flex" style="min-height: 100vh;">
  <!-- Sidebar -->
  <div>
    <%- include("../../views/partials/user/sidebar") %>
  </div>

  <!-- Main Content -->
  <div class="card-body text-center" style="margin-top: 100px;" >
    <div class="mb-3">
      <img src="/uploads/profileImage/<%= user.profileImage%>" 
           alt="Profile Image" 
           class="rounded-circle" 
           style="width: 120px; height: 120px; object-fit: cover; border: 2px solid #ccc;" />
           <form action="/uploadProfile" method="POST" enctype="multipart/form-data" class="mt-3">
            <input type="file" name="profileImage" accept="image/*" class="form-control mb-2" required>
            <button type="submit" class="btn btn-primary btn-sm">Upload</button>
        </form>
        </div>
    <h5 class="card-title"><%= user.name %></h5>
    <p class="card-text"><strong>Phone:</strong> <%= user.phone %></p>
    <p class="card-text"><strong>Email:</strong> <%= user.email %></p>
    <a href="/change-email" class="btn btn-sm btn-success me-2">Change Email</a>
    <a href="/change-password" class="btn btn-sm btn-success">Change Password</a>
  </div>
  
</div>
